	<form novalidate class="css-form">
		<h2>Add Institution</h2>
		<input type="hidden" ng-model="formdata.institution._id" />
		<label>Institution Name</label>
		<input class="form-control" type="text" 
			placeholder="Name of the Institution" 
			ng-model="formdata.institution.name" 
			id="formdata.institution.name" />
		<label for="formdata.institution.country">Country</label>
		<input class="form-control" type="text" 
			placeholder="Country" 
			ng-model="formdata.institution.country" 
			id="formdata.institution.country" />
		<label for="formdata.institution.category">Category</label>
		<input class="form-control" type="text" 
			placeholder="Category" 
			ng-model="formdata.institution.category" 
			id="formdata.institution.category" />
		<label for="formdata.institution.description">Description</label>
		<textarea 
			class="form-control"
			placeholder="Description of the institution" 
			ng-model="formdata.institution.content"
			style="min-width:50%;min-height:150px"
			id="formdata.institution.description"></textarea>
		<!--
		<label>Posting Date</label>
		<div class="input-group date" id="datetimepicker">
			<input type="text" ng-model="article.posting_date" class="form-control" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calender"></span>
			</span>
		</div>
		<script>
			$(function(){
				$("#datetimepicker").datepicker({
					format: "dd/M/yyyy"
				});
			})
		</script>
		-->
		<input type="submit" class="btn-success btn-lg" value="Save Data" ng-click="save('institution',formdata.institution)" />
		<input type="submit" class="btn-warning btn-lg" value="Cancel" ng-click="clearform('institution')"/>
	</form>
